 /* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  /* header start */
  header{
   padding: 0 0;
   }
   .logo{
      width: 170px;
   }
  .menu ul li a {

   margin-bottom: 10px;
   padding: 0 0 0 8px !important;

}
  /* banner start */
  .b_text{
   text-align: center;
   }
   .b_text h1 {
       margin-bottom: 10px;
       font-size: 25px;
       line-height: 50px;
       padding-right: 0px;
   }
   .b_text p{
      line-height: 30px;
      }
      .b_img{
         padding: 10px 10px 0;
         margin-bottom: 20px;
      }
}
 /* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
   /* header start */
   header{
      padding: 0 0;
      }
      .logo{
         width: 170px;
      }
   .menu ul li a {

      margin-bottom: 15px;
      padding: 0 0 0 8px !important;
   
  }
  /* banner start */
  .b_text{
text-align: center;
}
.b_text h1 {
    margin-bottom: 10px;
    font-size: 25px;
    line-height: 50px;
    padding-right: 0px;
}
.b_text p{
   line-height: 30px;
   }
   .b_img{
      padding: 10px 100px 0;
      margin-bottom: 20px;
   }
}


 /* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { 
/* header start */
.menu ul li a {

    margin-bottom: 15px;
    padding: 0 0 0 8px !important;
 
}
/* banner start */
.b_img{
   padding: 0 100px;
   margin-bottom: 30px;
}

.b_text h1 {
    margin-bottom: 10px;
    font-size: 35px;
    line-height: 50px;
    padding-right: 0px;
}
.b_text p{
   line-height: 30px;
   }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
/* banner start */
.b_text h1{
   font-size: 44px;
   padding-right: 0;
}
 }
 /* Extra Large devices (desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1399.98px) {
}
 /* Extra Large devices (desktops, 1200px and up) */
 @media (min-width: 1400px) and (max-width: 1599.98px) {
    }
 /* Extra Large devices (desktops, 1200px and up) */
 @media (min-width: 1600px) and (max-width: 1899.98px) {

 }
 
 /* Extra Large devices (desktops, 1200px and up) */
 @media (min-width: 1900px) and (max-width: 2099.98px) {
 }
/* Extra Extra large devices (large desktops, 1400px and up) */
@media (min-width: 2100px) {
}